@page
@using System.Text.Json;

@model FLEXX.Pages.StudentInterfaceModel



    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />

        <title>Student Portal</title>
        <style>
            * {
                box-sizing: border-box
            }

            body {
                /*font-family: "Lato", sans-serif;*/
                background-color: #f8f9fa;
            }

            /* Style the tab */
            .tab {
                margin-top: 12%;
                /*margin-right: 20px;*/
                float: left;
                border: none;
                background-color: #2A363B;
                width: 12%;
                height: 70%;
                position: fixed;
                top: 0;
                border-radius: 20px;
                left: 10%;
            }


                /* Style the buttons inside the tab */
                .tab button {
                    border-radius: 20px;
                    margin-top: 0%;
                    display: block;
                    background-color: inherit;
                    color: white;
                    padding: 22px 13px;
                    width: 100%;
                    border: none;
                    outline: none;
                    text-align: center;
                    cursor: pointer;
                    transition: 0.3s;
                    font-size: 17px;
                }

                    /* Change background color of buttons on hover */
                    .tab button:hover {
                        background-color: #282A3A;
                    }

                    /* Create an active/current "tab button" class */
                    .tab button.active {
                        background-color: #282A3A;
                        color: #F7C402;
                    }

            /* Style the tab content */
            .tabcontent {
                margin-top: 20px;
                float: left;
                padding: 0px 20px;
                border: none;
                width: 70%;
                border-left: none;
                height: 95%;
            }

            .container {
                margin-left: 200px;
                text-align: center;
            }

            .form-title {
                font-size: 24px;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .table-title {
                font-size: 24px;
                font-weight: bold;
                margin-top: 50px;
                margin-bottom: 20px;
            }

            .card {
                margin-top: 30px;
                text-align:left;
            }

            .card-header {
                background-color: #3f51b5;
                color: white;
                font-weight: bold;
            }

            .btn-primary {
                background-color: #3f51b5;
                border-color: #3f51b5;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .form-group {
                margin-bottom: 20px;
            }

            .form-line {
                margin-bottom: 5%;
            }

            .form-label {
            margin-top: 10px;
            font-style: italic;
            }
            .progress {
                width: 40%; 
                top: 30%; 
                left: 55%;
            }
        </style>
    </head>
    <body>

        <h1 style="margin-left: 10%"><b>Student Portal</b></h1>

        <div class="tab">
            <button class="tablinks" onclick="menu(event, 'Home')" id="defaultOpen">Home</button>
            <button class="tablinks" onclick="menu(event, 'Marks')">Marks</button>
            <button class="tablinks" onclick="menu(event, 'Attendance')">Attendance</button>
            <button class="tablinks" onclick="menu(event, 'Transcript')">Transcript</button>
            <button class="tablinks" onclick="menu(event, 'Course Registration')">Course Registration</button>
            <button class="tablinks" onclick="menu(event, 'Feedback')">Feedback</button>
        </div>

        <div id="Home" class="tabcontent">
            <div class="container">
                <div class="card">
                    <div class="card-header">University Information</div>
                    <div class="card-body">
                        <p>
                            <b>Roll No.: </b> @Model.StudentId
                            <br>
                            <b>Semester: </b> @Model.currStudent.Semester
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Student Information</div>
                    <div class="card-body">
                        <p>
                            
                            <b>Name: </b> @Model.currStudent.Name
                            <br />
                            <b>Section: </b> @Model.currStudent.section
                            
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Semeter GPA</div>
                    <div class="card-body">
                        <div style="width: 100%">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="Marks" class="tabcontent">
            <div class="position-absolute" style="top: 20%; left: 42%;">
                <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
                    <form class="form-example" action="" method="post">
                        <div class="form-group">
                            <label for="courseSelect">Select a course:</label>
                        <select class="form-control" id="courseSelectMarks" onchange="onCourseSelect()">
                            @foreach (var course in Model.enrolledCourses)
                            {
                                <option>@course.id - @course.name</option>
                             
                            }
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card" style="top: 130px; left: 28%; width: 120%">
                <div class="card-header" id="marksCardHeader">CSCI101 - Introduction to Computer Science</div>
                <div class="card-body">

                    <ul class="nav nav-pills" style="margin-bottom: 3%">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#quiz">Quiz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#assignments">Assignments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#sesional1">Sessional I</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#sesional2">Sessional II</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#project">Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#presentation">Presentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#final">Final Exam</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                    <div class="tab-pane fade" id="quiz">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Quiz #</th>
                                    <th>Weightage</th>
                                    <th>Obtained Marks</th>
                                    <th>Total Marks</th>
                                    <th>Average</th>
                                    <th>Minimum</th>
                                    <th>Maximum</th>
                                </tr>0
                            </thead>
                            <tbody id="evaluationTableBody">
                                @foreach (var eval in Model.allEvaluations.Where(e => e.courseCode == "CS-101" && e.evaluationType == "Quiz"))
                                {
                                    <tr>
                                        <td>@eval.evalNum</td>
                                        <td>@eval.evalWeightage</td>
                                        <td>@eval.obtained_marks</td>
                                        <td>@eval.total_marks</td>
                                        <td>@eval.average</td>
                                        <td>@eval.min</td>
                                        <td>@eval.max</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                       <div class="tab-pane fade" id="assignments">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Assignment #</th>
                                    <th>Weightage</th>
                                    <th>Obtained Marks</th>
                                    <th>Total Marks</th>
                                    <th>Average</th>
                                    <th>Minimum</th>
                                    <th>Maximum</th>
                                </tr>
                            </thead>
                            <tbody >
                                @foreach (var eval in Model.allEvaluations.Where(e => e.courseCode == "CS-101" && e.evaluationType == "Assignment"))
                                {
                                    <tr>
                                        <td>@eval.evalNum</td>
                                        <td>@eval.evalWeightage</td>
                                        <td>@eval.obtained_marks</td>
                                        <td>@eval.total_marks</td>
                                        <td>@eval.average</td>
                                        <td>@eval.min</td>
                                        <td>@eval.max</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="sessional1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Number #</th>
                                    <th>Weightage</th>
                                    <th>Obtained Marks</th>
                                    <th>Total Marks</th>
                                    <th>Average</th>
                                    <th>Minimum</th>
                                    <th>Maximum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var eval in Model.allEvaluations.Where(e => e.courseCode == "CS-101" && e.evaluationType == "Sessional 1"))
                                {
                                    <tr>
                                        <td>@eval.evalNum</td>
                                        <td>@eval.evalWeightage</td>
                                        <td>@eval.obtained_marks</td>
                                        <td>@eval.total_marks</td>
                                        <td>@eval.average</td>
                                        <td>@eval.min</td>
                                        <td>@eval.max</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                       <div class="tab-pane fade" id="sessional2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Number #</th>
                                    <th>Weightage</th>
                                    <th>Obtained Marks</th>
                                    <th>Total Marks</th>
                                    <th>Average</th>
                                    <th>Minimum</th>
                                    <th>Maximum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var eval in Model.allEvaluations.Where(e => e.courseCode == "CS-101" && e.evaluationType == "Sessional 2"))
                                {
                                    <tr>
                                        <td>@eval.evalNum</td>
                                        <td>@eval.evalWeightage</td>
                                        <td>@eval.obtained_marks</td>
                                        <td>@eval.total_marks</td>
                                        <td>@eval.average</td>
                                        <td>@eval.min</td>
                                        <td>@eval.max</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="project">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Project #</th>
                                    <th>Weightage</th>
                                    <th>Obtained Marks</th>
                                    <th>Total Marks</th>
                                    <th>Average</th>
                                    <th>Minimum</th>
                                    <th>Maximum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var eval in Model.allEvaluations.Where(e => e.courseCode == "CS-101" && e.evaluationType == "Project"))
                                {
                                    <tr>
                                        <td>@eval.evalNum</td>
                                        <td>@eval.evalWeightage</td>
                                        <td>@eval.obtained_marks</td>
                                        <td>@eval.total_marks</td>
                                        <td>@eval.average</td>
                                        <td>@eval.min</td>
                                        <td>@eval.max</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                        <div class="tab-pane fade" id="presentation">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Presentation #</th>
                                    <th>Weightage</th>
                                    <th>Obtained Marks</th>
                                    <th>Total Marks</th>
                                    <th>Average</th>
                                    <th>Minimum</th>
                                    <th>Maximum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var eval in Model.allEvaluations.Where(e => e.courseCode == "CS-101" && e.evaluationType == "Presentation"))
                                {
                                    <tr>
                                        <td>@eval.evalNum</td>
                                        <td>@eval.evalWeightage</td>
                                        <td>@eval.obtained_marks</td>
                                        <td>@eval.total_marks</td>
                                        <td>@eval.average</td>
                                        <td>@eval.min</td>
                                        <td>@eval.max</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                        <div class="tab-pane fade" id="final">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Number #</th>
                                    <th>Weightage</th>
                                    <th>Obtained Marks</th>
                                    <th>Total Marks</th>
                                    <th>Average</th>
                                    <th>Minimum</th>
                                    <th>Maximum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var eval in Model.allEvaluations.Where(e => e.courseCode == "CS-101" && e.evaluationType == "Final Exam"))
                                {
                                    <tr>
                                        <td>@eval.evalNum</td>
                                        <td>@eval.evalWeightage</td>
                                        <td>@eval.obtained_marks</td>
                                        <td>@eval.total_marks</td>
                                        <td>@eval.average</td>
                                        <td>@eval.min</td>
                                        <td>@eval.max</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>   


        <div id="Attendance" class="tabcontent">
            <div class="position-absolute" style="top: 20%; left: 42%;">
                <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
                    <form class="form-example" action="" method="post">
                        <div class="form-group">
                            <label for="courseSelectAttendance">Select a course:</label>
                        <select class="form-control" id="courseSelectAttendance">
                            @foreach (var course in Model.enrolledCourses)
                            {
                                <option>@course.id - @course.name</option>
                            }

                            </select>
                        </div>
                    </form>
                </div>
            </div>
        <div style="position: relative;">
            <div class="progress" style="position: absolute; top: 110px; left: 117%; width: 30%">
                <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>

            <div class="card" style="top: 130px; left: 28%; width: 120%">
                <div class="card-header" id="attendanceTitle">CSCI101 - Introduction to Computer Science</div>
                <div class="card-body">
                    <table class="table"  id="attendanceTable">
                        <thead>

                            <tr>
                                <th>Date</th>
                                <th>Duration (In Hours)</th>
                                <th>Presence</th>
                            </tr>
                        </thead>


                        <tbody>




                        @foreach (var attendance in Model.courseAttendances)
                        {

                            <tr data-course-code="@attendance.courseCode">
                                <td>@attendance.Date</td>
                                    <td>@attendance.contactHours</td>
                                    <td id="status">@attendance.Status</td>
                                </tr>
                            
                        }

                     
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="Transcript" class="tabcontent">
        <div class="position-absolute" style="top: 20%; left: 48%;">
            <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
                <form class="form-example" action="" method="post">
                    <div class="form-group">
                        <label for="semSelect">Select the semester:</label>
                        <select class="form-control" id="semSelect" style="text-align:center">
                            @{
                                var uniqueSemesters = Model.transcripts.Select(t => t.Semester).Distinct();
                            }
                            @foreach (var semester in uniqueSemesters)
                            {
                                <option>@semester</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
        </div>

        @{
            var totalGradePoints = Model.transcripts.Sum(t => t.GetGradePoints() * t.CreditHours);
            var totalCreditHours = Model.transcripts.Sum(t => t.CreditHours);
            var cgpa = totalCreditHours > 0 ? totalGradePoints / totalCreditHours : 0;
        }
        <p style="font-weight:bold; font-style:italic; position:absolute; left: 80%; top: 37%">CGPA: @String.Format("{0:F2}", cgpa)</p>

            <div class="card" style="top: 130px; left: 28%; width: 120%">
            @foreach (var semesterGroup in Model.transcripts.GroupBy(t => t.Semester))
            {
                var semester = semesterGroup.Key;

                <div class="card-header">@semester</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Course Name</th>
                                <th>Section</th>
                                <th>CrdHrs</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transcript in semesterGroup)
                            {
                                <tr>
                                    <td>@transcript.CourseID</td>
                                    <td>@transcript.Name</td>
                                    <td>@transcript.Section</td>
                                    <td>@transcript.CreditHours</td>
                                    <td>@transcript.Grade</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
        </div>



        <div id="Course Registration" class="tabcontent">
            <div class="container">
                <!-- Available Courses Table -->
                <div class="card">
                    <div class="card-header">Offered Courses</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Course ID</th>
                                    <th>Course Name</th>
                                    <th>Credit Hours</th>
                                    <th>Semester</th>
                                </tr>
                            </thead>
                            <tbody>


                            @foreach(var offerCourse in Model.offeredCourses)
                            {
                                <tr>
                                    <td>@offerCourse.CourseID</td>
                                    <td>@offerCourse.CourseTitle</td>
                                    <td>@offerCourse.CreditHours</td>
                                    <td>@offerCourse.Semester</td>
                                </tr>
                            }
                    
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Register for Offered Course</div>
                    <div class="card-body">
                        <form method="post" asp-page-handler="RegisterForCourse">
                            <div class="form-group">
                                <label for="courseSelect">Select a course:</label>
                                <select asp-for="RegisterCourseID" class="form-control" id="courseSelectRegister">
                                @foreach(var currCourse in Model.offeredCourses)
                                {


                                    <option>
                                      

                                        
                                        @currCourse.CourseID - @currCourse.CourseTitle</option>
                                }
                                </select>
                            </div>
                        <p class="alert alert-danger mt-3 text-center" role="alert" style="@(!string.IsNullOrEmpty(Model.registerMessage) ? "" : "display:none;")">@Model.registerMessage</p>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="Feedback" class="tabcontent">
            <div class="card" style="left: 30%;">
                <div class="card-header">Feedback Form</div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="date-input" class="form-label">Date:</label>
                        <input type="date" class="form-control" id="date-input">
                    </div>
                <form method="post" asp-page-handler="AddFeedback">
                    <div class="form-group">
                        <label for="courseSelect">Select a course:</label>
                        <select class="form-control" id="courseSelect" name="feedbackCID">
                            @foreach (var course in Model.enrolledCourses)
                            {
                                <option value="@course.id">@course.id - @course.name</option>
                            }
                        </select>
                    </div>
                    <p><b>
                        Please fill out the form in evaluating your instructor for the semester. After completion, please press the submit button.
                        <br><br>
                            For reference, the metric are as follows:
                        </b>
                        <ol>
                            <li>Poor</li>
                            <li>Below Average</li>
                            <li>Average</li>
                            <li>Good</li>
                            <li>Excellent</li>
                        </ol>
                    </p>
                    <ol style="font-weight: bold">
                        <li class="form-line jf-required" data-type="control_matrix" id="id_11">
                            <label class="form-label form-label-top" id="label_11" for="input_11"> Appearance and Personal Presentation<span class="form-required">*</span> </label>
                            <div id="cid_11" class="form-input-wide jf-required">
                                <table summary="" aria-labelledby="label_11" cellpadding="4" cellspacing="0" class="form-matrix-table" data-component="matrix">
                                    <tbody>
                                        <tr class="form-matrix-tr form-matrix-header-tr">
                                            <th class="form-matrix-th" style="border:none">&nbsp;</th>
                                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0"><label id="label_11_col_0">1</label></th>
                                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1"><label id="label_11_col_1">2</label></th>
                                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2"><label id="label_11_col_2">3</label></th>
                                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_3"><label id="label_11_col_3">4</label></th>
                                            <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_4"><label id="label_11_col_4">5</label></th>
                                        </tr>
                                        <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_11 label_11_row_0">
                                            <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_11_row_0">Teacher attends class in a well presentable manner</label></th>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_0_0" class="form-radio" name="q11_appearanceAnd11[0]" value="1" aria-labelledby="label_11_col_0 label_11_row_0" aria-label="Cells Radio Button"><label for="input_11_0_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_0_1" class="form-radio" name="q11_appearanceAnd11[0]" value="2" aria-labelledby="label_11_col_1 label_11_row_0" aria-label="Cells Radio Button"><label for="input_11_0_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_0_2" class="form-radio" name="q11_appearanceAnd11[0]" value="3" aria-labelledby="label_11_col_2 label_11_row_0" aria-label="Cells Radio Button"><label for="input_11_0_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_0_3" class="form-radio" name="q11_appearanceAnd11[0]" value="4" aria-labelledby="label_11_col_3 label_11_row_0" aria-label="Cells Radio Button"><label for="input_11_0_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_0_4" class="form-radio" name="q11_appearanceAnd11[0]" value="5" aria-labelledby="label_11_col_4 label_11_row_0" aria-label="Cells Radio Button"><label for="input_11_0_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        </tr>
                                        <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_11 label_11_row_1">
                                            <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_11_row_1">Teacher shows enthusiasm when teaching in class</label></th>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_1_0" class="form-radio" name="q11_appearanceAnd11[1]" value="1" aria-labelledby="label_11_col_0 label_11_row_1" aria-label="Cells Radio Button"><label for="input_11_1_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_1_1" class="form-radio" name="q11_appearanceAnd11[1]" value="2" aria-labelledby="label_11_col_1 label_11_row_1" aria-label="Cells Radio Button"><label for="input_11_1_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_1_2" class="form-radio" name="q11_appearanceAnd11[1]" value="3" aria-labelledby="label_11_col_2 label_11_row_1" aria-label="Cells Radio Button"><label for="input_11_1_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_1_3" class="form-radio" name="q11_appearanceAnd11[1]" value="4" aria-labelledby="label_11_col_3 label_11_row_1" aria-label="Cells Radio Button"><label for="input_11_1_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_1_4" class="form-radio" name="q11_appearanceAnd11[1]" value="5" aria-labelledby="label_11_col_4 label_11_row_1" aria-label="Cells Radio Button"><label for="input_11_1_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        </tr>
                                        <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_11 label_11_row_2">
                                            <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_11_row_2">Teacher shows initiative and flexibility in teaching</label></th>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_2_0" class="form-radio" name="q11_appearanceAnd11[2]" value="1" aria-labelledby="label_11_col_0 label_11_row_2" aria-label="Cells Radio Button"><label for="input_11_2_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_2_1" class="form-radio" name="q11_appearanceAnd11[2]" value="2" aria-labelledby="label_11_col_1 label_11_row_2" aria-label="Cells Radio Button"><label for="input_11_2_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_2_2" class="form-radio" name="q11_appearanceAnd11[2]" value="3" aria-labelledby="label_11_col_2 label_11_row_2" aria-label="Cells Radio Button"><label for="input_11_2_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_2_3" class="form-radio" name="q11_appearanceAnd11[2]" value="4" aria-labelledby="label_11_col_3 label_11_row_2" aria-label="Cells Radio Button"><label for="input_11_2_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_2_4" class="form-radio" name="q11_appearanceAnd11[2]" value="5" aria-labelledby="label_11_col_4 label_11_row_2" aria-label="Cells Radio Button"><label for="input_11_2_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        </tr>
                                        <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_11 label_11_row_3">
                                            <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_11_row_3">Teacher is well articulated and shows full knowledge of the subject in teaching</label></th>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_3_0" class="form-radio" name="q11_appearanceAnd11[3]" value="1" aria-labelledby="label_11_col_0 label_11_row_3" aria-label="Cells Radio Button"><label for="input_11_3_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_3_1" class="form-radio" name="q11_appearanceAnd11[3]" value="2" aria-labelledby="label_11_col_1 label_11_row_3" aria-label="Cells Radio Button"><label for="input_11_3_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_3_2" class="form-radio" name="q11_appearanceAnd11[3]" value="3" aria-labelledby="label_11_col_2 label_11_row_3" aria-label="Cells Radio Button"><label for="input_11_3_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_3_3" class="form-radio" name="q11_appearanceAnd11[3]" value="4" aria-labelledby="label_11_col_3 label_11_row_3" aria-label="Cells Radio Button"><label for="input_11_3_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_3_4" class="form-radio" name="q11_appearanceAnd11[3]" value="5" aria-labelledby="label_11_col_4 label_11_row_3" aria-label="Cells Radio Button"><label for="input_11_3_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        </tr>
                                        <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_11 label_11_row_4">
                                            <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_11_row_4">Teacher speaks loud and clear enough to be heard by the whole class </label></th>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_4_0" class="form-radio" name="q11_appearanceAnd11[4]" value="1" aria-labelledby="label_11_col_0 label_11_row_4" aria-label="Cells Radio Button"><label for="input_11_4_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_4_1" class="form-radio" name="q11_appearanceAnd11[4]" value="2" aria-labelledby="label_11_col_1 label_11_row_4" aria-label="Cells Radio Button"><label for="input_11_4_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_4_2" class="form-radio" name="q11_appearanceAnd11[4]" value="3" aria-labelledby="label_11_col_2 label_11_row_4" aria-label="Cells Radio Button"><label for="input_11_4_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_4_3" class="form-radio" name="q11_appearanceAnd11[4]" value="4" aria-labelledby="label_11_col_3 label_11_row_4" aria-label="Cells Radio Button"><label for="input_11_4_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                            <td class="form-matrix-values"><input type="radio" id="input_11_4_4" class="form-radio" name="q11_appearanceAnd11[4]" value="5" aria-labelledby="label_11_col_4 label_11_row_4" aria-label="Cells Radio Button"><label for="input_11_4_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    <li class="form-line jf-required" data-type="control_matrix" id="id_12">
                        <label class="form-label form-label-top" id="label_12" for="input_12"> Professional Practices <span class="form-required">*</span> </label>
                        <div id="cid_12" class="form-input-wide jf-required">
                            <table summary="" aria-labelledby="label_12" cellpadding="4" cellspacing="0" class="form-matrix-table" data-component="matrix">
                                <tbody>
                                    <tr class="form-matrix-tr form-matrix-header-tr">
                                        <th class="form-matrix-th" style="border:none">&nbsp;</th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0"><label id="label_12_col_0">1</label></th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1"><label id="label_12_col_1">2</label></th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2"><label id="label_12_col_2">3</label></th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_3"><label id="label_12_col_3">4</label></th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_4"><label id="label_12_col_4">5</label></th>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_12 label_12_row_0">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_12_row_0">Teacher shows professionalism in class </label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_0_0" class="form-radio" name="q12_professionalPractices[0]" value="1" aria-labelledby="label_12_col_0 label_12_row_0" aria-label="Cells Radio Button"><label for="input_12_0_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_0_1" class="form-radio" name="q12_professionalPractices[0]" value="2" aria-labelledby="label_12_col_1 label_12_row_0" aria-label="Cells Radio Button"><label for="input_12_0_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_0_2" class="form-radio" name="q12_professionalPractices[0]" value="3" aria-labelledby="label_12_col_2 label_12_row_0" aria-label="Cells Radio Button"><label for="input_12_0_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_0_3" class="form-radio" name="q12_professionalPractices[0]" value="4" aria-labelledby="label_12_col_3 label_12_row_0" aria-label="Cells Radio Button"><label for="input_12_0_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_0_4" class="form-radio" name="q12_professionalPractices[0]" value="5" aria-labelledby="label_12_col_4 label_12_row_0" aria-label="Cells Radio Button"><label for="input_12_0_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_12 label_12_row_1">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_12_row_1">Teacher shows commitment to teaching the class</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_1_0" class="form-radio" name="q12_professionalPractices[1]" value="1" aria-labelledby="label_12_col_0 label_12_row_1" aria-label="Cells Radio Button"><label for="input_12_1_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_1_1" class="form-radio" name="q12_professionalPractices[1]" value="2" aria-labelledby="label_12_col_1 label_12_row_1" aria-label="Cells Radio Button"><label for="input_12_1_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_1_2" class="form-radio" name="q12_professionalPractices[1]" value="3" aria-labelledby="label_12_col_2 label_12_row_1" aria-label="Cells Radio Button"><label for="input_12_1_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_1_3" class="form-radio" name="q12_professionalPractices[1]" value="4" aria-labelledby="label_12_col_3 label_12_row_1" aria-label="Cells Radio Button"><label for="input_12_1_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_1_4" class="form-radio" name="q12_professionalPractices[1]" value="5" aria-labelledby="label_12_col_4 label_12_row_1" aria-label="Cells Radio Button"><label for="input_12_1_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_12 label_12_row_2">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_12_row_2">Teacher encourages students to engage in class discussions and ask questions</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_2_0" class="form-radio" name="q12_professionalPractices[2]" value="1" aria-labelledby="label_12_col_0 label_12_row_2" aria-label="Cells Radio Button"><label for="input_12_2_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_2_1" class="form-radio" name="q12_professionalPractices[2]" value="2" aria-labelledby="label_12_col_1 label_12_row_2" aria-label="Cells Radio Button"><label for="input_12_2_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_2_2" class="form-radio" name="q12_professionalPractices[2]" value="3" aria-labelledby="label_12_col_2 label_12_row_2" aria-label="Cells Radio Button"><label for="input_12_2_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_2_3" class="form-radio" name="q12_professionalPractices[2]" value="4" aria-labelledby="label_12_col_3 label_12_row_2" aria-label="Cells Radio Button"><label for="input_12_2_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_2_4" class="form-radio" name="q12_professionalPractices[2]" value="5" aria-labelledby="label_12_col_4 label_12_row_2" aria-label="Cells Radio Button"><label for="input_12_2_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_12 label_12_row_3">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_12_row_3">Teacher handles criticisms and suggestions professionally</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_3_0" class="form-radio" name="q12_professionalPractices[3]" value="1" aria-labelledby="label_12_col_0 label_12_row_3" aria-label="Cells Radio Button"><label for="input_12_3_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_3_1" class="form-radio" name="q12_professionalPractices[3]" value="2" aria-labelledby="label_12_col_1 label_12_row_3" aria-label="Cells Radio Button"><label for="input_12_3_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_3_2" class="form-radio" name="q12_professionalPractices[3]" value="3" aria-labelledby="label_12_col_2 label_12_row_3" aria-label="Cells Radio Button"><label for="input_12_3_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_3_3" class="form-radio" name="q12_professionalPractices[3]" value="4" aria-labelledby="label_12_col_3 label_12_row_3" aria-label="Cells Radio Button"><label for="input_12_3_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_3_4" class="form-radio" name="q12_professionalPractices[3]" value="5" aria-labelledby="label_12_col_4 label_12_row_3" aria-label="Cells Radio Button"><label for="input_12_3_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_12 label_12_row_4">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_12_row_4">Teacher comes to class on time</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_4_0" class="form-radio" name="q12_professionalPractices[4]" value="1" aria-labelledby="label_12_col_0 label_12_row_4" aria-label="Cells Radio Button"><label for="input_12_4_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_4_1" class="form-radio" name="q12_professionalPractices[4]" value="2" aria-labelledby="label_12_col_1 label_12_row_4" aria-label="Cells Radio Button"><label for="input_12_4_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_4_2" class="form-radio" name="q12_professionalPractices[4]" value="3" aria-labelledby="label_12_col_2 label_12_row_4" aria-label="Cells Radio Button"><label for="input_12_4_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_4_3" class="form-radio" name="q12_professionalPractices[4]" value="4" aria-labelledby="label_12_col_3 label_12_row_4" aria-label="Cells Radio Button"><label for="input_12_4_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_4_4" class="form-radio" name="q12_professionalPractices[4]" value="5" aria-labelledby="label_12_col_4 label_12_row_4" aria-label="Cells Radio Button"><label for="input_12_4_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_12 label_12_row_5">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_12_row_5">Teacher ends class on time</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_5_0" class="form-radio" name="q12_professionalPractices[5]" value="1" aria-labelledby="label_12_col_0 label_12_row_5" aria-label="Cells Radio Button"><label for="input_12_5_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_5_1" class="form-radio" name="q12_professionalPractices[5]" value="2" aria-labelledby="label_12_col_1 label_12_row_5" aria-label="Cells Radio Button"><label for="input_12_5_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_5_2" class="form-radio" name="q12_professionalPractices[5]" value="3" aria-labelledby="label_12_col_2 label_12_row_5" aria-label="Cells Radio Button"><label for="input_12_5_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_5_3" class="form-radio" name="q12_professionalPractices[5]" value="4" aria-labelledby="label_12_col_3 label_12_row_5" aria-label="Cells Radio Button"><label for="input_12_5_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_12_5_4" class="form-radio" name="q12_professionalPractices[5]" value="5" aria-labelledby="label_12_col_4 label_12_row_5" aria-label="Cells Radio Button"><label for="input_12_5_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_matrix" id="id_13">
                        <label class="form-label form-label-top" id="label_13" for="input_13"> Teaching Methods<span class="form-required">*</span> </label>
                        <div id="cid_13" class="form-input-wide jf-required">
                            <table summary="" aria-labelledby="label_13" cellpadding="4" cellspacing="0" class="form-matrix-table" data-component="matrix">
                                <tbody>
                                    <tr class="form-matrix-tr form-matrix-header-tr">
                                        <th class="form-matrix-th" style="border:none">&nbsp;</th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0"><label id="label_13_col_0">1</label></th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1"><label id="label_13_col_1">2</label></th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2"><label id="label_13_col_2">3</label></th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_3"><label id="label_13_col_3">4</label></th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_4"><label id="label_13_col_4">5</label></th>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_0">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_0">Teacher shows well rounded knowledge over the subject matter</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_0_0" class="form-radio" name="q13_teachingMethods[0]" value="1" aria-labelledby="label_13_col_0 label_13_row_0" aria-label="Cells Radio Button"><label for="input_13_0_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_0_1" class="form-radio" name="q13_teachingMethods[0]" value="2" aria-labelledby="label_13_col_1 label_13_row_0" aria-label="Cells Radio Button"><label for="input_13_0_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_0_2" class="form-radio" name="q13_teachingMethods[0]" value="3" aria-labelledby="label_13_col_2 label_13_row_0" aria-label="Cells Radio Button"><label for="input_13_0_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_0_3" class="form-radio" name="q13_teachingMethods[0]" value="4" aria-labelledby="label_13_col_3 label_13_row_0" aria-label="Cells Radio Button"><label for="input_13_0_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_0_4" class="form-radio" name="q13_teachingMethods[0]" value="5" aria-labelledby="label_13_col_4 label_13_row_0" aria-label="Cells Radio Button"><label for="input_13_0_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_1">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_1">Teacher has organized the lesson conducive for easy understanding of students</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_1_0" class="form-radio" name="q13_teachingMethods[1]" value="1" aria-labelledby="label_13_col_0 label_13_row_1" aria-label="Cells Radio Button"><label for="input_13_1_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_1_1" class="form-radio" name="q13_teachingMethods[1]" value="2" aria-labelledby="label_13_col_1 label_13_row_1" aria-label="Cells Radio Button"><label for="input_13_1_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_1_2" class="form-radio" name="q13_teachingMethods[1]" value="3" aria-labelledby="label_13_col_2 label_13_row_1" aria-label="Cells Radio Button"><label for="input_13_1_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_1_3" class="form-radio" name="q13_teachingMethods[1]" value="4" aria-labelledby="label_13_col_3 label_13_row_1" aria-label="Cells Radio Button"><label for="input_13_1_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_1_4" class="form-radio" name="q13_teachingMethods[1]" value="5" aria-labelledby="label_13_col_4 label_13_row_1" aria-label="Cells Radio Button"><label for="input_13_1_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_2">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_2">Teacher shows dynamism and enthusiasm</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_2_0" class="form-radio" name="q13_teachingMethods[2]" value="1" aria-labelledby="label_13_col_0 label_13_row_2" aria-label="Cells Radio Button"><label for="input_13_2_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_2_1" class="form-radio" name="q13_teachingMethods[2]" value="2" aria-labelledby="label_13_col_1 label_13_row_2" aria-label="Cells Radio Button"><label for="input_13_2_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_2_2" class="form-radio" name="q13_teachingMethods[2]" value="3" aria-labelledby="label_13_col_2 label_13_row_2" aria-label="Cells Radio Button"><label for="input_13_2_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_2_3" class="form-radio" name="q13_teachingMethods[2]" value="4" aria-labelledby="label_13_col_3 label_13_row_2" aria-label="Cells Radio Button"><label for="input_13_2_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_2_4" class="form-radio" name="q13_teachingMethods[2]" value="5" aria-labelledby="label_13_col_4 label_13_row_2" aria-label="Cells Radio Button"><label for="input_13_2_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_3">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_3">Teacher stimulates the critical thinking of students</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_3_0" class="form-radio" name="q13_teachingMethods[3]" value="1" aria-labelledby="label_13_col_0 label_13_row_3" aria-label="Cells Radio Button"><label for="input_13_3_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_3_1" class="form-radio" name="q13_teachingMethods[3]" value="2" aria-labelledby="label_13_col_1 label_13_row_3" aria-label="Cells Radio Button"><label for="input_13_3_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_3_2" class="form-radio" name="q13_teachingMethods[3]" value="3" aria-labelledby="label_13_col_2 label_13_row_3" aria-label="Cells Radio Button"><label for="input_13_3_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_3_3" class="form-radio" name="q13_teachingMethods[3]" value="4" aria-labelledby="label_13_col_3 label_13_row_3" aria-label="Cells Radio Button"><label for="input_13_3_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_3_4" class="form-radio" name="q13_teachingMethods[3]" value="5" aria-labelledby="label_13_col_4 label_13_row_3" aria-label="Cells Radio Button"><label for="input_13_3_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_13 label_13_row_4">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_13_row_4">Teacher handles the class environment conducive for learning</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_4_0" class="form-radio" name="q13_teachingMethods[4]" value="1" aria-labelledby="label_13_col_0 label_13_row_4" aria-label="Cells Radio Button"><label for="input_13_4_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_4_1" class="form-radio" name="q13_teachingMethods[4]" value="2" aria-labelledby="label_13_col_1 label_13_row_4" aria-label="Cells Radio Button"><label for="input_13_4_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_4_2" class="form-radio" name="q13_teachingMethods[4]" value="3" aria-labelledby="label_13_col_2 label_13_row_4" aria-label="Cells Radio Button"><label for="input_13_4_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_4_3" class="form-radio" name="q13_teachingMethods[4]" value="4" aria-labelledby="label_13_col_3 label_13_row_4" aria-label="Cells Radio Button"><label for="input_13_4_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_13_4_4" class="form-radio" name="q13_teachingMethods[4]" value="5" aria-labelledby="label_13_col_4 label_13_row_4" aria-label="Cells Radio Button"><label for="input_13_4_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_matrix" id="id_14">
                        <label class="form-label form-label-top" id="label_14" for="input_14"> Disposition Towards Students<span class="form-required">*</span> </label>
                        <div id="cid_14" class="form-input-wide jf-required">
                            <table summary="" aria-labelledby="label_14" cellpadding="4" cellspacing="0" class="form-matrix-table" data-component="matrix">
                                <tbody>
                                    <tr class="form-matrix-tr form-matrix-header-tr">
                                        <th class="form-matrix-th" style="border:none">&nbsp;</th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0"><label id="label_14_col_0">1</label></th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1"><label id="label_14_col_1">2</label></th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2"><label id="label_14_col_2">3</label></th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_3"><label id="label_14_col_3">4</label></th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_4"><label id="label_14_col_4">5</label></th>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_14 label_14_row_0">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_14_row_0">Teacher believes that students can learn from the class</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_0_0" class="form-radio" name="q14_dispositionTowards[0]" value="1" aria-labelledby="label_14_col_0 label_14_row_0" aria-label="Cells Radio Button"><label for="input_14_0_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_0_1" class="form-radio" name="q14_dispositionTowards[0]" value="2" aria-labelledby="label_14_col_1 label_14_row_0" aria-label="Cells Radio Button"><label for="input_14_0_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_0_2" class="form-radio" name="q14_dispositionTowards[0]" value="3" aria-labelledby="label_14_col_2 label_14_row_0" aria-label="Cells Radio Button"><label for="input_14_0_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_0_3" class="form-radio" name="q14_dispositionTowards[0]" value="4" aria-labelledby="label_14_col_3 label_14_row_0" aria-label="Cells Radio Button"><label for="input_14_0_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_0_4" class="form-radio" name="q14_dispositionTowards[0]" value="5" aria-labelledby="label_14_col_4 label_14_row_0" aria-label="Cells Radio Button"><label for="input_14_0_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_14 label_14_row_1">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_14_row_1">Teacher shows equal respect to various cultural backgrounds, individuals, religion, and race</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_1_0" class="form-radio" name="q14_dispositionTowards[1]" value="1" aria-labelledby="label_14_col_0 label_14_row_1" aria-label="Cells Radio Button"><label for="input_14_1_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_1_1" class="form-radio" name="q14_dispositionTowards[1]" value="2" aria-labelledby="label_14_col_1 label_14_row_1" aria-label="Cells Radio Button"><label for="input_14_1_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_1_2" class="form-radio" name="q14_dispositionTowards[1]" value="3" aria-labelledby="label_14_col_2 label_14_row_1" aria-label="Cells Radio Button"><label for="input_14_1_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_1_3" class="form-radio" name="q14_dispositionTowards[1]" value="4" aria-labelledby="label_14_col_3 label_14_row_1" aria-label="Cells Radio Button"><label for="input_14_1_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_1_4" class="form-radio" name="q14_dispositionTowards[1]" value="5" aria-labelledby="label_14_col_4 label_14_row_1" aria-label="Cells Radio Button"><label for="input_14_1_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_14 label_14_row_2">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_14_row_2">Teacher finds the students strengths as basis for growth and weaknesses for opportunities for improvement</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_2_0" class="form-radio" name="q14_dispositionTowards[2]" value="1" aria-labelledby="label_14_col_0 label_14_row_2" aria-label="Cells Radio Button"><label for="input_14_2_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_2_1" class="form-radio" name="q14_dispositionTowards[2]" value="2" aria-labelledby="label_14_col_1 label_14_row_2" aria-label="Cells Radio Button"><label for="input_14_2_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_2_2" class="form-radio" name="q14_dispositionTowards[2]" value="3" aria-labelledby="label_14_col_2 label_14_row_2" aria-label="Cells Radio Button"><label for="input_14_2_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_2_3" class="form-radio" name="q14_dispositionTowards[2]" value="4" aria-labelledby="label_14_col_3 label_14_row_2" aria-label="Cells Radio Button"><label for="input_14_2_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_2_4" class="form-radio" name="q14_dispositionTowards[2]" value="5" aria-labelledby="label_14_col_4 label_14_row_2" aria-label="Cells Radio Button"><label for="input_14_2_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_14 label_14_row_3">
                                        <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_14_row_3">Teacher understands the weakness of a student and helps in the student's improvement</label></th>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_3_0" class="form-radio" name="q14_dispositionTowards[3]" value="1" aria-labelledby="label_14_col_0 label_14_row_3" aria-label="Cells Radio Button"><label for="input_14_3_0" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_3_1" class="form-radio" name="q14_dispositionTowards[3]" value="2" aria-labelledby="label_14_col_1 label_14_row_3" aria-label="Cells Radio Button"><label for="input_14_3_1" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_3_2" class="form-radio" name="q14_dispositionTowards[3]" value="3" aria-labelledby="label_14_col_2 label_14_row_3" aria-label="Cells Radio Button"><label for="input_14_3_2" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_3_3" class="form-radio" name="q14_dispositionTowards[3]" value="4" aria-labelledby="label_14_col_3 label_14_row_3" aria-label="Cells Radio Button"><label for="input_14_3_3" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                        <td class="form-matrix-values"><input type="radio" id="input_14_3_4" class="form-radio" name="q14_dispositionTowards[3]" value="5" aria-labelledby="label_14_col_4 label_14_row_3" aria-label="Cells Radio Button"><label for="input_14_3_4" class="matrix-choice-label matrix-radio-label" aria-hidden="true"></label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_textarea" id="id_15" name="feedback-comments">
                        <label class="form-label form-label-top form-label-auto" id="label_15" for="input_15"> Comments </label>
                        <div id="cid_15" class="form-input-wide"> <textarea id="input_15" class="form-textarea" name="q15_comments" cols="62" rows="6" data-component="textarea" aria-labelledby="label_15"></textarea> </div>
                    </li>
                    </ol>
                <button type="submit" class="btn btn-primary" style="margin-left: 45%;">Submit</button>
                </form>

                </div>
            </div>
        </div>

        <script>






        function menu(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";

            // Call the respective functions when the "Attendance" and "Marks" tabs are clicked
            if (tabName === 'Attendance') {
                const courseSelectAttendance = document.getElementById('courseSelectAttendance');
                changeCardHeader(courseSelectAttendance.value);
            } else if (tabName === 'Marks') {
                const courseSelectMarks = document.getElementById('courseSelectMarks');
                changeMarksHeader(courseSelectMarks.value);
            }
        }


            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Fall 2021', 'Spring 2022', 'Fall 2022', 'Spring 2023'],
                    datasets: [{
                        data: [4, 3, 3.5, 2.5],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

    <script>

        function onCourseSelect() {
            var courseSelect = document.getElementById("courseSelectMarks");
            var selectedCourseCode = courseSelect.options[courseSelect.selectedIndex].value;
            window.location.href = "/Marks?courseCode=" + selectedCourseCode;
        }
        function changeCardHeader(selectedCourseId) {
            const courseSelect = document.getElementById("courseSelectAttendance");
            const selectedOption = courseSelect.options[courseSelect.selectedIndex];
            const selectedCourseCode = selectedOption.text.split(' - ')[0];
            const selectedCourseName = selectedOption.text.split(' - ')[1];
            const attendanceHeader = document.getElementById("attendanceTitle");
            attendanceHeader.innerText = selectedCourseCode + " - " + selectedCourseName;

            const attendanceTable = document.getElementById("attendanceTable");
            const attendanceRows = attendanceTable.querySelectorAll("tbody tr");

            attendanceRows.forEach(row => {
                const courseCode = row.getAttribute("data-course-code");
                if (courseCode !== selectedCourseCode) {
                    row.style.display = "none";
                } else {
                    row.style.display = "";
                }
            });

            var totalDays = 0;
            var daysAttended = 0;
            var progressBars = document.querySelectorAll("[data-course-code='" + selectedCourseCode + "'] .progress-bar");
            for (var i = 0; i < progressBars.length; i++) {
                var progressBar = progressBars[i];
                totalDays++;
                if (progressBar.getElementById("data-status") === "Present" || progressBar.getAttribute("data-status") === "Late") {
                    daysAttended++;
                }
            }
            var attendancePercentage = (daysAttended * 100) / totalDays;
            var progressBars = document.querySelectorAll("[data-course-code='" + selectedCourseCode + "'] .progress-bar");
            for (var i = 0; i < progressBars.length; i++) {
                var progressBar = progressBars[i];
                progressBar.style.width = attendancePercentage + "%";
                progressBar.setAttribute("aria-valuenow", attendancePercentage);
                progressBar.innerHTML = attendancePercentage + "%";
            }
        }

       
        function changeMarksHeader(selectedCourseId) {
            console.log("ok");
            const courseSelect = document.getElementById("courseSelectMarks");
            const selectedOption = courseSelect.options[courseSelect.selectedIndex];
            const selectedCourseCode = selectedOption.text.split(' - ')[0];
            const selectedCourseName = selectedOption.text.split(' - ')[1];
            const attendanceHeader = document.getElementById("marksCardHeader");
            attendanceHeader.innerText = selectedCourseCode + " - " + selectedCourseName;

            const evaluationTypeSelect = document.getElementById("evaluationTypeSelect");
            const selectedEvaluationType = evaluationTypeSelect.options[evaluationTypeSelect.selectedIndex].value;

            // Call function to update table with evaluation data
            getEvaluationData(selectedCourseCode, selectedEvaluationType);
        }


        function getEvaluationData(selectedCourseCode, selectedEvaluationType) {
            // Get data from Model.enrolledCourses and filter by selected course code and evaluation type
            const courseData = @Json.Serialize(Model.enrolledCourses);
            const selectedCourseData = courseData.filter(c => c.id.startsWith(selectedCourseCode))[0];
            const evaluationData = selectedCourseData.evaluations.filter(e => e.evaluationType == selectedEvaluationType)[0];

            // Update table rows with evaluation data
            const table = document.getElementById("marksTable");
            const rows = table.getElementsByTagName("tr");
            const headerRow = rows[0];
            const dataRow = rows[1];

            // Update header row
            headerRow.cells[1].innerText = `Weightage (${evaluationData.evalWeightage}%)`;
            headerRow.cells[2].innerText = `Obtained Marks (${evaluationData.obtained_marks}/${evaluationData.total_marks})`;
            headerRow.cells[3].innerText = `Total Marks (${evaluationData.total_marks})`;
            headerRow.cells[4].innerText = `Average (${evaluationData.average})`;
            headerRow.cells[5].innerText = `Minimum (${evaluationData.min})`;
            headerRow.cells[6].innerText = `Maximum (${evaluationData.max})`;

            // Update data row
            dataRow.cells[1].innerText = `${evaluationData.evalWeightage}%`;
            dataRow.cells[2].innerText = `${evaluationData.obtained_marks}/${evaluationData.total_marks}`;
            dataRow.cells[3].innerText = `${evaluationData.total_marks}`;
            dataRow.cells[4].innerText = `${evaluationData.average}`;
            dataRow.cells[5].innerText = `${evaluationData.min}`;
            dataRow.cells[6].innerText = `${evaluationData.max}`;
        }





        document.addEventListener('DOMContentLoaded', function () {
            // Other event listeners and function calls

            const courseSelectAttendance = document.getElementById('courseSelectAttendance');
            courseSelectAttendance.addEventListener('click', function () {
                changeCardHeader(this.value);
            });
            courseSelectAttendance.addEventListener('change', function () {
                changeCardHeader(this.value);
            });

            const courseSelectMarks = document.getElementById('courseSelectMarks');
            courseSelectMarks.addEventListener('click', function () {
                changeMarksHeader(this.value);
            });
            courseSelectMarks.addEventListener('change', function () {
                changeMarksHeader(this.value);
            });
        });



    </script>


    </body>



